section(style={'background-image': 'url(img/madama.jpg)'}).call.inverse
    .container
        .row
            .col-md-5.col-md-offset-7.col-sm-6.col-sm-offset-6
                form.callback
                    .success
                        span Спасибо за заявку!
                    //-Скрытые поля для отправки данных , ajax
                    input(type="hidden" name="project_name" value="Mitler")
                    input(type="hidden" name="admin_email" value="igorpilium@gmail.com")
                    input(type="hidden" name="form_subject" value="Заявка Mitler")
                    input(type="hidden", name="Страница" value="")

                    .callback-logo
                        img(src="img/logo-2.svg", alt="Mitler")
                    .form-head Оставить заявку
                    p Оставьте завку и мы перезвоним вам в течение 15 минут.

                    input(type="text", name="Имя" placeholder="Ваше имя..." required)
                    input(type="text", name="Телефон" placeholder="Ваш телефон" required)
                    select(name="Услуга")
                        option(value disabled selected) Выбрать услугу
                        option Парикмахерский сервис
                        option Косметологический
                        option Маникюрный сервис
                        option Массаж и SPA
                        option Солярий
                    button.btn.btn--white Отправить

                    