section(style={'background-image': 'url(img/bg-3.jpg)'}).partners.section-overlay
    .container
        .row
            .col-sm-12
                h2.h2.text-center Наши партнеры
            .col-sm-10.col-sm-offset-1
            