section(style={'background-image': 'url(img/bg-2.jpg)'}).review.inverse.section-overlay
    .container
        .row
            .col-sm-12
                h2.h2.text-center.h-first
                    span Отзывы 
                    | наших клиентов
            .col-sm-8.col-sm-offset-2
                .quotes
                .owl-carousel.reviews
                    .reviews-item
                        .reviews-header Оксана
                        .reviews-date 27.10.16 (Стрижка)
                        .reviews-stars
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                        .reviews-text Мне очень повезло! Я случайно попала в салон красоты S&Mitler, когда возвращалась с работы. Времени, записываться на стрижку, у меня не было. И, на удачу, я попала в смену стилиста Марины. Я сама не знала, как я хочу постричься, но Марина предлагала несколько вариантов. И в итоге я получила колоссальное удовольствие от конечного итога! Марина с моими волосами сделала что-то невероятно красивое! После стрижки волосы стали более объемными и гладкими! Спасибо Мариночке за индивидуальный подход и качество выполненной работы!!!
                    .reviews-item
                        .reviews-header Александра
                        .reviews-date 22.01.17 (Маникюр)
                        .reviews-stars
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                        .reviews-text Мне очень повезло! Я случайно попала в салон красоты S&Mitler, когда возвращалась с работы. Времени, записываться на стрижку, у меня не было. И, на удачу, я попала в смену стилиста Марины.Я сама не знала, как я хочу постричься, но Марина предлагала несколько вариантов. И в итоге я получила колоссальное удовольствие от конечного итога! 
                    .reviews-item
                        .reviews-header Максим
                        .reviews-date 01.02.17 (Стрижка)
                        .reviews-stars
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                        .reviews-text Мне очень повезло! Я случайно попал в салон красоты S&Mitler, когда возвращалсь с работы. Времени, записываться на стрижку, у меня не было. И, на удачу, я попала в смену стилиста Марины.Я сама не знала, как я хочу постричься, но Марина предлагала несколько вариантов. И в итоге я получила колоссальное удовольствие от конечного итога!                                         

