section.services
    .owl-carousel.carousel-services
        .carousel-services__item
            .carousel-services__content
                .carousel-services__composition
                    .carousel-logo: img(src="img/logo-2.svg" alt="Салон красоты")                
                    .h3 Косметологический сервис
                    ul.carousel-services__list
                        li Ключевая услуга #1 - 
                            strong 8500 &#8381;
                        li Ключевая услуга #2 - 
                            strong 8500 &#8381;
                        li Ключевая услуга #3- 
                            strong 8500 &#8381;
                    a(href="#0").btn.btn--white Список услуг
            .carousel-services__image(style={'background-image': 'url(img/service.png)'}) 
        .carousel-services__item
            .carousel-services__content
                .carousel-services__composition
                    .carousel-logo: img(src="img/logo-2.svg" alt="Салон красоты")                
                    .h3 Парикмахерский сервис
                    ul.carousel-services__list
                        li Ключевая услуга #1 - 
                            strong 9500 &#8381;
                        li Ключевая услуга #2 - 
                            strong 9500 &#8381;
                        li Ключевая услуга #3- 
                            strong 9500 &#8381;
                        li Ключевая услуга #3- 
                            strong 9500 &#8381;
                    a(href="#0").btn.btn--white Список услуг
            .carousel-services__image(style={'background-image': 'url(img/service2.png)'})
        .carousel-services__item
            .carousel-services__content
                .carousel-services__composition
                    .carousel-logo: img(src="img/logo-2.svg" alt="Салон красоты")                
                    .h3 Маникюрный сервис
                    ul.carousel-services__list
                        li Ключевая услуга #1 - 
                            strong 10500 &#8381;
                        li Ключевая услуга #2 - 
                            strong 10500 &#8381;
                        li Ключевая услуга #3- 
                            strong 10500 &#8381;
                    a(href="#0").btn.btn--white Список услуг
            .carousel-services__image(style={'background-image': 'url(img/service3.png)'})
        .carousel-services__item
            .carousel-services__content
                .carousel-services__composition
                    .carousel-logo: img(src="img/logo-2.svg" alt="Салон красоты")                
                    .h3 Маникюрный сервис
                    ul.carousel-services__list
                        li Ключевая услуга #1 - 
                            strong 10500 &#8381;
                        li Ключевая услуга #2 - 
                            strong 10500 &#8381;
                        li Ключевая услуга #3- 
                            strong 10500 &#8381;
                    a(href="#0").btn.btn--white Список услуг
            .carousel-services__image(style={'background-image': 'url(img/service3.png)'})