.main-footer
    .container
        .row
            .col-lg-2.col-sm-4.col-xs-12
                .footer-column
                    img(src="img/logo-1.svg", alt="Салон красоты").logo-footer
                    p Салон красоты<br>
                        | бизнес-класса в Москве
                    .social-footer
                        nav.social-icons
                            ul
                                li: a(href="#0"): i.fa.fa-facebook
                                li: a(href="#0"): i.fa.fa-instagram
                                li: a(href="#0"): i.fa.fa-vk
            .col-lg-3.col-sm-4.col-xs-12
                .footer-column
                    nav.footer-menu
                        ul
                            li.active: a(href="#") Парикмахерский сервис
                            li: a(href="#") Косметологический сервис
                            li: a(href="#") Маникюрный сервис
                            li: a(href="#") Массаж и SPA
                            li: a(href="#") Солярий
                            li: a(href="#") Наши специалисты
                    
            .col-lg-3.col-sm-4.col-xs-12
                .footer-column
                    p.footer-addr
                        i.fa.fa-location-arrow
                        | г.Москва, ул. Ивана Бабушкина, 22с1, м.Профсоюзная
                    p.footer-addr
                        i.fa.fa-clock-o
                        | Время работы: Ежедневно,
                        | 10:00 - 22:00
                    p.footer-addr
                        span.footer-phone
                            i.fa.fa-mobile 
                            | +7(495) 118-94-82
            .col-lg-4.col-sm-12.col-xs-12
                .footer-column
                    .map
                        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad2add1ba2025b1ed59ed2afd839a3116ca8502804b7ac9f5557ea66bddc52820&amp;width=100%&amp;height=200&amp;lang=ru_RU&amp;scroll=true"></script>
                    
