header(style={background: 'url(img/top-bg.jpg) center no-repeat'}).site-header
    .top-line
        a(href="#0").logo
            img(src="img/logo-1.svg", alt="Салон красоты")
        .phone
            i.fa.fa-mobile
            a(href="tel:+74951189435") +7 (495) 118-94-35