@import "vars"

@media only screen and (max-width: 1200px)
  .welcome
    .h1
      font-size: 64px


@media only screen and (max-width: 992px)
  .welcome
    .h1
      font-size: 48px


@media only screen and (max-width: 768px)
  .header-contacts
    .phone-header
      text-align: left

    .btn
      padding: 12px 38px


@media only screen and (max-width: 480px)
  .welcome
    .h1
      font-size: 28px
    p
      span
        font-size: 9px
        margin-bottom: 5px
      strong
        margin-top: 14px
        font-size: 14px
  .header-composition
    p
      font-size: 14px
