@import "fonts"
@import "libs"
@import "vars"
@import "hamburger"
// Стилизация плагинов
@import "mmenuStyle"


*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

ul
	list-style: none

h1, h2, h3, h4, h5, h6
	line-height: 1.4
	text-transform: uppercase

a
	color: inherit
	text-decoration: none
	&:hover
		cursor: pointer
		color: inherit

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

	&.ishome
		.site-header
			min-height: 700px
			height: 100vh
			background-color: $dark
			color: #fff
			.top-line
				position: absolute
				width: 100%
				padding-top: 40px
				z-index: 1
.logo
	img
		width: 125px
		height: auto
		margin-left: 45px

.phone
	position: absolute
	top: 42px
	right: 85px
	font-family: firasans, sans-serif
	font-size: 22px
	white-space: nowrap

	.fa-mobile
		font-size: 22px
		color: #555
		margin-right: 3px
		&::before
			margin-right: 10px

	a
		text-decoration: none
		color: #fff
section,
header
	position: relative
	background-size: cover
	background-position: center
section
	background-color: #fff
	&.inverse
		color: #fff
		background-color: $dark
	.h2
		font-size: 30px
		font-weight: 800
		color: $accent
		span
			color: #fff
.img-responsive
	display: block
	max-width: 100%
	height: auto

.btn
	display: inline-block
	border: none
	color: #fff
	text-decoration: none
	background-color: $accent
	padding: 16px 45px
	font-size: 13px
	text-transform: uppercase
	font-weight: 600
	letter-spacing: 4px
	border-radius: 2px
	text-align: center
	position: relative
	outline: none
	transition: background-color .1s ease
	&::after
		transition: background-color .2s ease
		position: absolute
		content: ''
		height: 4px
		bottom: 0
		width: 100%
		background-color: darken($accent, 50%)
		opacity: .18
		border-bottom-left-radius: 2px
		border-bottom-right-radius: 2px
		left: 0
	&:focus, &:hover
		text-decoration: none
		color: #fff
	&:hover
		background-color: lighten($accent, 5%)
		&::after
			opacity: .22
	&:active
		background-color: darken($accent, 5%)
		&::after
			opacity: .32
	&.btn--white
		background-color: #fff
		color: #444
		&::after
			background-color: rgba(#000, .6)
		&:hover
			&::after
				background-color: rgba(#000, .2)
		&:active
			&::after
				background-color: rgba(#000, .2)


// Header
.header-flex
	display: flex
	height: 100%
	position: relative
	top: 0

.flex-center
	margin: auto

.header-composition
	text-align: center
	position: relative
	p
		margin-top: 40px
	.header-btn
		margin-top: 20px


.welcome
	p
		display: flex
		align-items: center
		margin: 0
		margin-bottom: -10px
		font-size: 14px
		text-transform: uppercase
		white-space: nowrap
		span
			margin: 0 10px
		&::before, &::after
			content: ''
			height: 1px
			width: 100%
			position: relative
			background-color: #fff
			display: inline-block
	.h1
		margin: 0
		margin-bottom: 25px
		font-size: 70px
		line-height: 1.6
		font-weight: 100
		white-space: nowrap
		border-bottom: 1px solid #fff
		white-space: nowrap
	strong
		display: block
		font-size: 17px
		text-transform: uppercase
		.fa
			margin-right: 10px
			margin-left: 10px
			font-size: 12px
			color: #555

.header-social
	position: absolute
	display: flex
	padding: 0 12.5px
	top: 0
	right: 0
	height: 100%
	border-left: 1px solid rgba(255, 255, 255, .1)
	background-color: rgba(#151515,.2)

.social-icons
	margin: auto
	ul,li
		margin: 0
		padding: 0
		list-style-type: none
	a
		display: block
		width: 38px
		height: 38px
		color: #2c2c2c
		font-size: 17px
		background-color: rgba(#fff, .2)
		text-align: center
		margin: 18px 0
		line-height: 38px
		border-radius: 10em
		transition: background-color .3s ease
		&:hover
			background-color: rgba(#fff, .4)


.header-contacts
	position: absolute
	bottom: 0
	left: 0
	border-top: 1px solid rgba(#fff, .15)
	padding: 12.5px 0
	width: 100%
	background-color: rgba(#151515, .2)
	.phone-header
		font-family: firasans,sans-serif
		text-align: center
	.fa
		margin-right: 7px
		color: #555

// Services
$colors: $blue, $red, $accent
@for $i from 1 through length($colors)
	.carousel-services .owl-item:nth-child(3n+#{$i})
		background-color: nth($colors, $i)

.owl-carousel
	.owl-item
		backface-visibility: inherit

.carousel-services
	background-color: $dark
	&__item
		position: relative
		display: flex
		flex-direction: column-reverse
		font-size: 18px
		color: #fff
		font-weight: 300
		&:hover
			.carousel-services__image
				opacity: 1
		.carousel-logo
			text-align: center
			img
				display: inline-block
				width: 100px
				height: auto
	.owl-item
		&:nth-child(2n+2)
			.carousel-services__item
				flex-direction: column
	&__image
		background-size: cover
		background-position: center
		opacity: .9
		transition: opacity .5s ease
	&__content
		position: relative
		padding: 60px 10%

	&__composition
		margin: auto
		width: 100%
		text-align: center
		.h3
			font-weight: 800
			font-size: 28px
			margin-top: 5px
			margin-bottom: 20px
			text-transform: uppercase
			span
				display: block
				font-weight: normal
				font-size: 18px
				font-weight: 300
	&__list
		margin: 0
		padding: 0
		list-style-type: none
		margin-bottom: 25px
		li
			padding: 9px
			border-bottom: 1px solid rgba(#000, .12)
			&:last-child
				border-bottom: none
			strong
				font-family: firasans,sans-serif
				color: #4a4a4a
	.owl-nav
		position: absolute
		top: 0
		width: 100%
		> div
			width: 64px
			height: 64px
			background-color: #fff
			color: $dark
			position: absolute
			text-align: center
			line-height: 64px
			&.owl-prev
				left: 0
			&.owl-next
				right: 0
section.kingSalon,
section.review,
section.partners
	padding: 5% 0
section.kingSalon
	p
		margin: 30px 0
		font-size: 18px


.section-overlay
	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: $overlay
		opacity: .92

.fotorama
	background-color: rgba($dark, .4)
	&__nav
		&-wrap
		position: absolute
		bottom: 15px
		padding: 0 30px
		width: 100%
	&__thumb
		border: 5px solid #fff
		transition: border-color .5s ease
		&-border
			border-color: #3d3c3c
	&__active
		.fotorama__thumb
			border-color: #3d3c3c
	&__nav::after,&_stage::after,
	&__nav::before,&_stage::before
		display: none
	&__arr-
		&-next,&-prev
			&::before
				font-family: fontawesome
				font-size: 32px
		&-next
			&::before
				content: '\f105'
		&-prev
			left: 20px
			&::before
				content: '\f104'
@import "media" // Всегда в конце
